.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.description__work {
  font-size: 36px;
  line-height: 60px;
  margin: 0;
  margin-bottom: 28px;
}
@media (min-width: 768px) {
  .description__work {
    font-size: 60px;
    line-height: 60px;
    margin-top: 22px;
    margin-bottom: 70px;
  }
  .description__work-list {
    font-size: 16px;
    line-height: 24px;
    width: 620px;
    margin-bottom: -25px;
  }
}
@media (min-width: 1300px) {
  .description {
    margin-bottom: 100px;
  }
}
