.example {
  background-color: @background-main-2;
}

.example__header {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 35px;
  margin-bottom: 35px;
}

.example__description {
  font-family: "Arial", "PT Sans", sans-serif;
  text-align: left;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.example__results-wrapper {
  position: relative;
  width: 125px;
  margin: 0;
  margin-bottom: 38px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
}

.example__legend {
  position: absolute;
  display: inline-block;
  font-family: "Arial", "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 12px;
  width: 66px;
  text-align: center;
  background-color: @background-main-2;
  top: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.example__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0 auto;
}

.example__money {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-bottom: 45px;
}

.example-slider__wrapper {
  margin: 0 auto;
}

.example-slider__img-before {
  margin-bottom: 38px;
}

.example-slider__img--after {
  display: none;
}

.example-slider__label {
  position: relative;
  text-transform: uppercase;
  background-color: #ffffff;
  width: 85px;
  height: 12px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: 1px solid #cdcdcd;
  border-radius: 5px;
}

.example-slider__label-1 {
  position: absolute;
  top: -3px;
  left: -42px;
}

.example-slider__label-1::before {
  position: absolute;
  content: "";
  background-color: @background-main;
  width: 35px;
  height: 6px;
  top: 5px;
  left: 45px;
  border-radius: 2px;
}

.example-slider__label-2 {
  position: absolute;
  top: -3px;
  left: 97px;
}
/*
.example-slider__label-2::before {
  position: absolute;
  content: "";
  background-color: @background-main;
  width: 35px;
  height: 6px;
  top: 7px;
  left: -65px;
  border-radius: 2px;
}
*/
.example-slider__btn {
  display: none;
}

@media (min-width: @tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid #e6e6e6;
  }

  .example-slider__img--after {
    display: none;
  }

  .example__results {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .example__results-wrapper--1 {
    margin-right: 45px;
  }

  .example__money {
    font-size: 20px;
    width: 180px;
    margin-left: 177px;
  }

  .example__header {
    margin-top: 53px;
    margin-bottom: 60px;
  }

  .example__description {
    font-size: 16px;
    line-height: 24px;
  }

  .example__results-wrapper {
    width: 162px;
  }

  .example__number {
    font-size: 30px;
    line-height: 37px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .example__legend {
    font-size: 14px;
    line-height: 14px;
    background-color: #ffffff;
    width: 135px;
    top: 83px;
  }

  .example-slider__label {
    position: relative;
    text-transform: uppercase;
    background: transparent;
    width: 400px;
    height: 0;
    margin: 0 auto;
    margin-bottom: 20px;
    border: none;
    border-radius: none;
  }

  .example-slider__label-1::before {
    position: absolute;
    content: "";
    background-color: #dcdcdc;
    width: 400px;
    height: 6px;
    top: 5px;
    left: 45px;
    border-radius: 1px;
  }

  .example-slider__label-2 {
    left: 413px;
  }

  .example-slider__label-2::before {
    position: absolute;
    content: "";
    background-color: @background-main;
    width: 32px;
    height: 32px;
    border: 1px solid #cecece;
    border-radius: 50%;
    top: -5px;
    left: -229px;
  }
}
