.footer-list {
  position: relative;
  display: flex;
  width: 280px;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
  &__icon-vk-mobile {
    width: 22px;
    height: 12px;
  }

  &__icon-insta-mobile {
    width: 16px;
    height: 16px;
  }

  &__icon-fb-mobile {
    width: 10px;
    height: 19px;
  }

  &__item {
    padding-top: 22px;
    padding-bottom: 32px;
  }

  &__icon {
    position: absolute;
  }

  &__link {
    position: relative;
    display: block;
    margin: 0 auto;
    cursor: pointer;
  }
}

@media (min-width: @tablet-width) {
  .footer-list {
    width: 130px;
    border: none;
    margin-bottom: 15px;

    &__item {
      padding: 0;
      margin-right: 60px;
    }

    &__icon-vk-mobile {
      width: 30px;
      height: 16px;
    }

    &__icon-insta-mobile {
      width: 23px;
      height: 23px;
      top: -4px;
    }

    &__icon-fb-mobile {
      width: 13px;
      height: 27px;
      top: -5px;
    }
  }
}
