.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-catalog__header {
  display: block;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  margin-bottom: 0;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-right: 20px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}
@media (min-width: 660px) {
  .main-catalog {
    width: 659px;
    margin: 0 auto;
  }
  .main-catalog__header {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    padding: 0;
    border: none;
    margin-bottom: 166px;
  }
  .main-catalog__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
@media (min-width: 960px) {
  .main-catalog {
    width: 1199px;
    margin: 0 auto;
  }
  .main-catalog__header {
    margin: 0 auto;
    text-align: left;
    border: none;
  }
}
