.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-header {
  position: relative;
  margin: 0;
}
.page-header--catalog {
  margin-top: 200px;
}
@media (min-width: 768px) {
  .page-header--catalog {
    margin-top: 0;
  }
}
@media (min-width: 1300px) {
  .page-header::after {
    position: absolute;
    content: "";
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 50%;
    height: 696px;
    top: 0;
    left: 50%;
    z-index: -1;
  }
  .page-header--catalog::after {
    position: absolute;
    content: "";
    background-image: none;
  }
  .page-header--form::after {
    position: absolute;
    content: "";
    background-image: none;
  }
}
