.product {
  border-bottom: 1px solid #ededed;
}

.product__header {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  margin-top: 32px;
}

.product__table {
  font-family: "Arial", "PT Sans", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin-bottom: 25px;
}

.product__inner-link {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 25px;
}

.product__properties {
  padding-right: 52px;
}
