.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.programm {
  width: 100%;
  margin: 0;
  padding: 0;
}
.programm__form {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}
.programm__header {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 35px;
  padding: 0;
  padding-right: 20px;
}
.programm__form-profile {
  text-transform: uppercase;
  margin-bottom: 40px;
  margin-right: 57px;
}
@media (min-width: 768px) {
  .programm__form {
    font-size: 20px;
    line-height: 20px;
  }
  .programm__header {
    font-size: 60px;
    text-align: left;
    width: 708px;
  }
  .programm__form-profile {
    line-height: 30px;
    text-align: left;
    width: 708px;
    margin-right: 0;
    padding-left: 39px;
  }
  .programm__form-link-wrapper {
    width: 708px;
    display: flex;
    align-items: center;
    margin-bottom: 72px;
  }
  .programm__form-inner-link {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
    margin-left: 20px;
    margin-right: 60px;
  }
  .programm__form__refinement {
    font-size: 16px;
    line-height: 16px;
  }
}
@media (min-width: 1300px) {
  .programm__header {
    width: 1220px;
  }
  .programm__form-profile {
    line-height: 30px;
    text-align: left;
    width: 1220px;
    padding-left: 0;
    margin-bottom: 75px;
  }
}
