.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.site-list {
  width: 100%;
  padding: 0;
  margin: 0;
}
.site-list li {
  border-bottom: 1px solid #e6e6e6;
}
.site-list li:first-child {
  border-top: 1px solid #e6e6e6;
}
.site-list__item a {
  display: block;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 25px;
}
.site-list__item:hover {
  opacity: 0.7;
}
.site-list__item:hover :active {
  opacity: 0.5;
}
@media (max-width: 320px) {
  .logo-menu-wrapper--closed .site-list {
    display: none;
  }
}
@media (min-width: 660px) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin-top: 34px;
  }
  .site-list li {
    padding: 0;
    border: none;
  }
  .site-list li:first-child {
    border-top: none;
  }
  .site-list__item--active a {
    border-bottom: 2px solid #ffffff;
  }
  .site-list__item a {
    font-size: 18px;
    line-height: 24px;
    padding-top: 0;
    padding-bottom: 6px;
  }
}
@media (min-width: 960px) {
  .site-list {
    width: 100%;
    margin-top: 58px;
  }
  .site-list__item a {
    font-size: 20px;
    color: #ffffff;
    margin: 0;
    padding: 8px 0;
  }
  .site-list__item--catalog a {
    color: #000000;
  }
  .site-list__item--form a {
    color: #000000;
  }
  .site-list__item-index--active a {
    border-bottom: 2px solid #ffffff;
  }
}
