* {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::before {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}

*::after {
  webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #111111;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

a:active {
  outline: none;
}

a:focus {
  outline: none;
}

input {
  outline: none;
}

button:focus {
  outline: none;
}

textarea {
  outline: none;
  margin: 0;
  padding: 0;
}

input:active {
  outline: none;
}

textarea:active {
  outline: none;
}

textarea:focus {
  outline: none;
}

input:focus {
  outline: none;
}

.inner {
  width: 280px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: @tablet-width) {
  .inner {
    width: 708px;
    margin: 0 auto;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .inner {
    width: 1220px;
    margin: 0 auto;
    padding: 0;
  }
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-link {
  display: block;
  font-size: 14px;
  line-height: 18px;
  width: 280px;
  color: #ffffff;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  background-color: @background-main;
  margin-bottom: 15px;
  padding: 13px 0;
}

.inner-link:hover {
  background: #5eaa2f;
}

.inner-link:active {
  color: #99c684;
  background: #5eaa2f;
}

input[placeholder],
textarea[placeholder] {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-transform: uppercase;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 15px;
  display: block;
}
