.page-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.page-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.work-list {
  display: flex;
  flex-direction: column;
}
.example {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.example__results {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.contacts__wrapper {
  display: flex;
  justify-content: space-between;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.development-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-catalog__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.product-wrap {
  align-items: center;
}
.more-products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.other-products {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.other-products__list-item-property {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.other-products__promo {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.programm {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.programm__form {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}
.profile__data,
.contact__data {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
