.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.development-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
